{% extends "index.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static "css/about.css" %}">

{% endblock style %}

{% block main %}
{% comment %} <div class="container">
    <h1>About Us</h1>
    <p>Welcome to our event organizing company! We are passionate about creating memorable experiences for our clients.</p>
    <p>Our mission is to [describe your mission/goals].</p>
    <div class="image-container">
        <img src="{% static "logo7.png" %}" alt="Event Planner 1">
        <div class="member-details">
            <p><strong>John Doe</strong></p>
            <p><a href="tel:+123456789"><img src="phone_icon.png" alt="Call Us" width="20"></a></p>
            <p><a href="mailto:johndoe@example.com"><img src="email_icon.png" alt="Email Us" width="20"></a></p>
            <p><a href="https://www.instagram.com/johndoe/"><img src="{% static "Instagram.png" %}" alt="Instagram" width="20"></a></p>
        </div>
    </div>
    <div class="image-container">
        <img src="{% static "logo7.png" %}" alt="Event Planner 2">
        <div class="member-details">
            <p><strong>Jane Smith</strong></p>
            <p><a href="tel:+987654321"><img src="phone_icon.png" alt="Call Us" width="20"></a></p>
            <p><a href="mailto:janesmith@example.com"><img src="email_icon.png" alt="Email Us" width="20"></a></p>
            <p><a href="https://www.instagram.com/janesmith/"><img src="{% static "Instagram.png" %}" alt="Instagram" width="20"></a></p>
        </div>
    </div>
    <div class="image-container">
        <img src="{% static "logo7.png" %}" alt="Event Planner 3">
        <div class="member-details">
            <p><strong>Mark Johnson</strong></p>
            <p><a href="tel:+111222333"><img src="phone_icon.png" alt="Call Us" width="20"></a></p>
            <p><a href="mailto:markjohnson@example.com"><img src="email_icon.png" alt="Email Us" width="20"></a></p>
            <p><a href="https://www.instagram.com/markjohnson/"><img src="{% static "Instagram.png" %}" alt="Instagram" height="20"></a></p>
        </div>
    </div>
    <!-- Add more team members' details as needed -->

    <p>We specialize in organizing various types of events including weddings, corporate events, and parties.</p>
    <p>Our services include event planning, venue selection, catering, decoration, and entertainment.</p>
    <p>Feel free to contact us to make
</div> {% endcomment %}


<div class="m-3">
 <div class="about-section">
    <h1 class="text-center">About Us </h1>
    <p class="text-start m-3">Based in Mumbai, Ravishing Event Management is one of the city's emerging event planning companies that strive to give your special occasion a touch of uniqueness and extravaganza. Its team is comprised of passionate and talented professionals who'll take care of all your wedding planning details in order for your event to turn out absolutely flawless and stress-free for you.</p>
    
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row row-cols-md-2 justify-content-center p-1">
    <div class="col">
      <div class="card mb-3">
        <img src="{% static "Team/Ankita.jpg" %}" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Ankita Karmakar</h2>
          <p class="title"><b>Managing Partner</b></p>
          <p>Creative Director of Events</p>

        </div>
      </div>
    </div>
  
    <div class="col">
      <div class="card mb-3">
        <img src="{% static "Team/Nandini.jpg" %}" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Nandini Gowd</h2>
          <p class="title"><b>Managing Partner</b></p>
          <p>Production & Operations Director</p>

        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card mb-3">
        <img src="{% static "Team/sandhya.jpg" %}" alt="John" style="width:100%">
        <div class="container">
          <h2>Sandhya</h2>
          <p class="title">Business Development Manager</p>
          <p></p>

        </div>
      </div>
    </div>

    


      <div class="col">
        <div class="card mb-3">
          <img src="{% static "Team/akash.jpg" %}" alt="Mike" style="width:100%">
          <div class="container">
            <h2>Akash Gupta</h2>
            <p class="title">Technical Manager</p>
           
            <p></p>

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-3">
          <img src="{% static "Team/Anvesh.jpg" %}" alt="Mike" style="width:100%">
          <div class="container">
            <h2>Anvesh</h2>
            <p class="title">Technical Manager</p>
            <p></p>

          </div>
        </div>
      </div>


  </div>
</div>

{% endblock main %}




{% block js %}
<script src="{% static "javascript/form.js" %}"></script>
{% endblock js %}

