{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ravishing Events</title>

    <link rel="icon" href="{% static "Icons/RavishingEvents.png" %}" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% block style %}
    
    {% endblock style %}
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
    
  <header style="background-color: rgb(142, 122, 181);">
    <nav class="navbar navbar-expand-lg border border-dark">
        <div class="container-fluid m-1">

            <a class="navbar-brand fw-bold" href="{% url "index" %}">Ravishing Events</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active fw-semibold" aria-current="page" href="{% url "service" %}">Service</a>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link active fw-semibold" aria-current="page" id="openForm">Open form</button>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active fw-semibold" aria-current="page" href="{% url "location" %}">Location</a>
                    </li>
                </ul>

                <div class="d-flex flex-row">
                    <a class="btn btn-outline-dark p-2 ms-2" href="https://wa.me/919511935519?text=Hello%20there!%20I%20would%20like%20to%20chat."
                        class="nav-link px-2 text-muted" target="_blank" style="background-color: rgb(255, 207, 150);">
                        <img src="{% static "Icons/whatsapp.png" %}" alt="Whatsapp" height="30"> Whatsapp
                    </a>
                    <p>&nbsp &nbsp</p>
                    <a class="btn btn-outline-dark p-2 ms-2"
                        href="https://www.instagram.com/ravishing__events?igsh=MTN6dDNpYXF6enFlYQ==" target="_blank"
                        class="nav-link px-2 text-muted" style="background-color: rgb(255, 207, 150);">
                        <img src="{% static "Icons/instagram.png" %}" alt="Instagram" height="30"> Instagram
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>

  
  <main style="background-color: rgb(255, 207, 150);" class="border border-dark">
    
    <br>

    <div class="container-fluid">
      <div class="row row-cols-md-3 justify " >
        <div class=" col-12 col-lg-2" style="background-color: rgb(255, 207, 150);" >
          <p></p>
          {% block left %}
          
          <div class="p-2"  style="background-color:  rgb(246, 253, 195); box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); ">
            <div class="text text-center ">
              <h1>Services</h1>
            </div>
            
            <div class="border text-center">
                <ul class="list-group list-group" >
                  <li class="list-group-item"><a class="btn btn-outline-dark" href="{% url 'details' name='Wedding' %}">Wedding</a></li>
                  <li class="list-group-item"><a class="btn btn-outline-dark" href="{% url 'details' name='Haldi' %}">Haldi & Mehndi</a></li>
                  <li class="list-group-item"><a class="btn btn-outline-dark" href="{% url 'details' name='Catering' %}">Catering</a></li>
                  <li class="list-group-item"><a class="btn btn-outline-dark" href="{% url 'details' name='Dj' %}">DJ & Sound</a></li>
                  <li class="list-group-item"><a class="btn btn-outline-dark" href="{% url 'details' name='Babyshower' %}">Babyshower (Naming ceremony) </a></li>
                  <li class="list-group-item"><a class="btn btn-outline-dark" href="{% url 'details' name='Birthday' %}">Birthday</a></li>
                  <li class="list-group-item"><a class="btn btn-outline-dark" href="{% url 'details' name='Festive' %}">Festive</a></li>
                  <li class="list-group-item"><a class="btn btn-outline-dark" href="{% url 'details' name='Corporate' %}" >Corporate</a></li>
                </ul>
            </div>
          </div>
          {% comment %} <div class="social-Icons-container">
            <div class="border p-3 text-center" style="background-color: rgb(246, 253, 195); box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);">
              <a class="btn btn-outline-dark p-2" href="https://wa.me/919511935519?text=Hello%20there!%20I%20would%20like%20to%20chat." class="nav-link px-2 text-muted" target="_blank">
                <img src="{% static "Whatsapp.png" %}" alt="Whatsapp" height="30">
                Whatsapp
              </a>
              <p></p>
              <a class="btn btn-outline-dark p-2" href="https://www.instagram.com/ravishing__events?igsh=MTN6dDNpYXF6enFlYQ==" target="_blank" class="nav-link px-2 text-muted">
                <img src="{% static "Instagram.png" %}" alt="Instagram" height="30">
                Instagram
              </a>
            </div>
          </div> {% endcomment %}
          <br>
          {% endblock left %}
        </div>
  
        <div class="col-12 col-lg-9   p-2 border border-dark" style="background-color: rgb(246, 253, 195); ">   
          <br>
          {% block main %}
          
          <div id="carouselExampleDark" class="carousel carousel-light slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="{% static "wedding.jpg" %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Wedding</h5>
                  <p>A bond that will last a lifetime. </p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static "birthday.jpg" %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Birthday</h5>
                  <p>You’re worth celebrating every day.</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="{% static "Festive.jpg" %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Festive</h5>
                  <p>Tradition meet celebration in name of festival.</p>
                </div>
              </div>
              <div class="carousel-item"data-bs-interval="4000">
                <img src="{% static "babyshower.jpg" %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Babyshower & Naming ceremony</h5>
                  <p>Showering love on the parents-to-be!</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="{% static "DJ.jpg" %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>DJ</h5>
                  <p>Rhythm alchemist turning beats into gold.</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <hr>


{% comment %} Services provide {% endcomment %}


          <div class="text-center m-3">
            <h1 class>Services We Provide</h1>
            <br>  <br>
            <div class="row">
              <div class="col ">
                <img src="{% static "Icons/celebration.png" %}" alt="Affordable Decorations" class="image" height="70px">
                <h2 class="heading">Entertainment & Artist Management</h2>
                <p class="text">Be it a comic's hilarious antics, a stomach- hurting stand-up act or an enchanting sufi night, don't let your dose of entertainment take a backseat amidst all the hoopla and shenanigans.</p>
             
              </div>
              <div class="col">
                <img src="{% static "Icons/palette.png" %}" alt="Affordable Decorations" class="image" height="70px">
                <h2 class="heading">Wedding Creative</h2>
                <p class="text">A dash of innovation can turn things around in ways more than one. We certainly cannot emphasize our preference enough for the unique and unusual. Trust us with your wedding design and creatives among some funky wedding ideas and concepts, and we promise you a love affair with our ideas.</p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">  
                <img src="{% static "Icons/film.png" %}" alt="Affordable Decorations" class="image" height="70px">
                <h2 class="heading">Photography & Cinematography</h2>
                <p class="text">It's not just enough to create a reel of soft- focus memories in your mind while your once-in-a-life, high-on-adrenaline moments unfold amidst myriad hues. We help you zoom in and capture some visual treasures through the most focused lens.</p>
              </div>
              <div class="col"> <img src="{% static "Icons/restaurant.png" %}" alt="Affordable Decorations" class="image" height="70px">
                <h2 class="heading">Food & Beverages</h2>
                <p class="text">It is no secret that a gourmandizing platter and glasses oozing palate-satisfying beverages form the highlight of any Indian wedding. In keeping with the spirit of the occasion, we bet to delight your taste buds with the best catering deals only to make the experience more appetizing. Hungry, already?</p>
               </div>
            </div>
            <div class="row">
              <div class="col"><img src="{% static "Icons/hand.png" %}" alt="Affordable Decorations" class="image" height="70px">
                <h2 class="heading">Ancillary Services</h2>
                <p class="text">Putting wedding events, successfully, together requires much more than just having the essentials in place. We, at Ravishing Events, provide a host of services, which include designing and styling wedding dresses, customizing wedding invitations and providing personalized communication among others.</p>
              </div>
              <div class="col"> <img src="{% static "Icons/food-service.png" %}" alt="Affordable Decorations" class="image" height="70px">
                <h2 class="heading">Hospitality</h2>
                <p class="text">Whoever claims to not enjoy a warm wedding reception and a fair bit of indulgence aces the lie game! Well, all we are trying to say is that you can never go wrong with showering your guests with some privileges and exclusivity. And we just help you ensure that your guests get a supreme taste of the grandeur that they are meant to experience.</p>
               </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <img src="{% static "Icons/giftbox.png" %}" alt="Affordable Decorations" class="image" height="70px">
                <h2 class="heading">Wedding Gifts & Hampers</h2>
                <p class="text">A box of exotic cookies for a bridal shower or a hamper with assorted goodies for the wedding can be beautiful way to show love to your guests. Let us help you pick the choicest contents and add raw wedding fuzziness to those fine, delightful tokens.</p>
              </div>
              <div class="col">
                <img src="{% static "Icons/smartphone.png" %}" alt="Affordable Decorations" class="image" height="70px">
                <h2 class="heading">Wedding Communications</h2>
                <p class="text">How about letting every guest in on the smallest of details about your plans for your elaborate marriage celebrations without making any frenzied, last-minute goof-ups? Having an effective communication plan in place plays a crucial role in making your dream of bringing a fairy tale to life</p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <img src="{% static "Icons/decoration.png" %}" alt="Affordable Decorations" class="image" height="70px">
                <h2 class="heading">Decor</h2>
                <p class="text">With our in-house 2D and 3D designers, you can expect your wedding decorations to be straight out of your dreams. Let our promise of excellence extend into the wedded glory of a vibrant venue and dazzling decor.</p>
              </div>
              <div class="col">
                <img src="{% static "Icons/airplane.png" %}" alt="Affordable Decorations" class="image" height="70px">
                <h2 class="heading">Destination Wedding & Venue</h2>
                <p class="text">It's the venue of your big day that best defines the beauty and grandeur of the occasion. How about indulging your wild fantasies and deep desires with some apt and befitting deals?</p>
              </div>
            </div>
            
          </div>

          <hr>

          <div class="text-center m-3">
            <h1 class>Why Ravishing Events ?</h1>
            <br>  <br>
            <div class="row ">
              <div class="col">
                <img src="{% static "Icons/cash.png" %}" alt="Affordable Decorations" class="image" height="70px">
                <h2 class="heading">Affordable Prize</h2>
                <p class="text">We Provide Excellent Decorations at Pocket Friendly Cost with Great Customer Service.</p>
              
              </div>
              <div class="col">
                <img src="{% static "Icons/support.png" %}" alt="Affordable Decorations" class="image" height="70px">
                <h2 class="heading">Best Service</h2>
                <p class="text">From event planners and production teams to audiovisual technicians and catering services, you can find a wide range of skilled professionals to help organize and execute your event successfully.</p>
             
              </div>
            </div>
            <br>
            <div class="row ">
              <div class="col">
                
                <img src="{% static "Icons/handshake.png" %}" alt="Affordable Decorations" class="image" height="70px">
                <h2 class="heading">Full Transparency</h2>
                <p class="text">We offer value for money decorations and fulfill all the commitments on time and keep all the deal transparent.</p>

              </div>
              <div class="col">
                
                <img src="{% static "Icons/clock.png" %}" alt="Affordable Decorations" class="image" height="70px">
                <h2 class="heading">On Schedule</h2>
                <p class="text">We handle any last-minute changes or emergencies that may arise, sparing you from the stress of handling these issues themselves. This on-site management provides you with peace of mind, allowing you to enjoy the event without worrying about the behind-the-scenes details.</p>
               
              </div>
            </div>
            <br>
            
          </div>
        
          <div id="popupForm" class="form-popup border border-dark" aria-labelledby="offcanvasDarkLabel" tabindex="-1" id="offcanvasDark">
      
            <form class="form-container" name='submit-to-google-sheet'>
               
                <button id="closeForm" class="close btn-close btn-close-dark" type="button"></button>
                <h2>Fill out the form</h2>
                <label for="name"><b>Name</b></label>
                <input type="text" placeholder="Enter your name" name="name" required>
                
              
                <label for="phone"><b>Phone Number</b></label>
                <input type="tel" id="phone" name="phone" required
             pattern="\d{10}" title="Please enter a 10-digit phone number"
             oninput="this.value = this.value.replace(/[^0-9]/g, '')"
             placeholder="Enter your Phone number">
      
                <label for="email"><b>Email</b></label>
                <input type="email" placeholder="Enter your email" name="email">
                
                <button type="submit" class="btn">Submit</button>
            </form>
            
          </div>
        
          {% endblock main %}
          <br>
        </div>
  
  
       
        
        {% comment %} {% block right %}
        <div class=" col-12 col-lg-2 p-2 d-inline " style="background-color: rgb(255, 207, 150);"  >
          <p></p>
          
        
          
        </div>
      </div>
    </div>
    {% endblock right %}  {% endcomment %}
    

    

    

    <br>
    <p>

    </p>
    
  </main>
  <div id="popup" class="form-popup border border-dark" aria-labelledby="offcanvasDarkLabel" tabindex="-1" id="offcanvasDark" style="display:none">
    <form class="form-container" name='submit-to-google-sheet'>
   
        <button id="close" class="close btn-close btn-close-dark" type="button"></button>
        <h2>Fill out the form</h2>
        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter your name" name="name" required>
        
        <label for="phone"><b>Phone Number</b></label>
        <input type="tel" id="phone" name="phone" required
            pattern="\d{10}" title="Please enter a 10-digit phone number"
            oninput="this.value = this.value.replace(/[^0-9]/g, '')"
            placeholder="Enter your Phone number">
        
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter your email" name="email">
        
        <button type="submit" class="btn">Submit</button>
    </form>
  </div>

  <footer class="p p-5" style="background-color: rgb(246, 253, 195);">
    
    <div class="d-flex flex-wrap justify-content-between align-items-center border-top m ms-3 me-3"  >
      <p class="col-md-4 mb-0 text-muted">
        <img src="{% static "Icons/RavishingEvents.png" %}" alt="RavishingEvents" width="130px" >
      </p>
  
      <ul class="nav col-md-4 justify-content-center">
        <li class="nav-item"><b>Contact Us :</b> +91 9511935519, +91 9321329781 </li>
        <br>
        <li class="nav-item"><a href="https://www.instagram.com/ravishing__events?igsh=cXkxNGd5aXM0Zjdn" target="_blank" class="nav-link px-2 text-muted"><b>Instagram</b></a></li>
        <li class="nav-item"><a href="https://wa.me/919511935519?text=Hello%20there!%20I%20would%20like%20to%20chat."  class="nav-link px-2 text-muted" target="_blank"><b>Whatsapp</b></a></li>
        
        <li class="nav-item"><a href="{% url "about" %}" class="nav-link px-2 text-muted"><b>About</b></a></li>
      </ul>   
    </div>
      
  </footer>
      

  {% block js %}
  <script src="{% static "javascript/script.js" %}"></script>
  {% endblock js %}
    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>