{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ravishing Events</title>

    <link rel="icon" href="{% static "logo7.png" %}" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% block style %}
    
    {% endblock style %}
    <link rel="stylesheet" href="{% static "styles.css" %}">
</head>
<body>
    
  <header  style="background-color : rgb(142, 122, 181);">
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid m-1">
      
        <a class="navbar-brand fw-bold" href="{% url "index" %}">Ravishing Events</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active fw-semibold" aria-current="page" href="{% url "service" %}">Service</a>
            </li>
            <li class="nav-item">
              <button class="nav-link active fw-semibold" aria-current="page" id="openForm">Open form</button>
            </li>
            <li class="nav-item">
              <a class="nav-link active fw-semibold" aria-current="page" href="https://wa.me/919511935519?text=Hello%20there!%20I%20would%20like%20to%20chat." target="_blank">Contact us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active fw-semibold" aria-current="page" href="{% url "location" %}" >Location</a>
            </li>
          </ul>
         
        </div>
      </div>
    </nav>
  </header>
  <main>
    
    <div class="container-fluid">
      <div class="row row-cols-md-3 justify " >
        <div class=" col-12 col-lg-2" style="background-color: rgb(255, 207, 150);" >
          <p></p>
          {% block left %}
          
            <div class="border p-3 text-center">

              <a class="btn btn-outline-dark p-2" href="https://wa.me/919511935519?text=Hello%20there!%20I%20would%20like%20to%20chat." class="nav-link px-2 text-muted" target="_blank">
                <img src="{% static "Whatsapp.png" %}" alt="Whatsapp" height="30">
                Whatsapp</a>
                <p>

                </p>
              <a class="btn btn-outline-dark p-2" href="https://www.instagram.com/ravishing__events?igsh=MTN6dDNpYXF6enFlYQ==" target="_blank" class="nav-link px-2 text-muted">
                <img src="{% static "Instagram.png" %}" alt="Instagram" height="30">
                Instagram</a>
            
              
            </div>  
          
          {% endblock left %}
        </div>
  
        <div class="col-12 col-lg-8 p-2 " style="background-color: rgb(246, 253, 195); ">   
          <br>
          {% block main %}
          
          <div id="carouselExampleDark" class="carousel carousel-light slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="{% static "wedding.jpg" %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Wedding</h5>
                  <p>Some representative placeholder content for the first slide.</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static "birthday.jpg" %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Birthday</h5>
                  <p>Some representative placeholder content for the second slide.</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="{% static "holi.jpg" %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Holi</h5>
                  <p>Some representative placeholder content for the third slide.</p>
                </div>
              </div>
              <div class="carousel-item"data-bs-interval="4000">
                <img src="{% static "babyshower.jpeg" %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Baby shower</h5>
                  <p>Some representative placeholder content for the third slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="{% static "Dj.jpg" %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Dj</h5>
                  <p>Some representative placeholder content for the third slide.</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          
          
          {% endblock main %}
          <br>
        </div>
  
  
        
        
        
        <div class=" col-12 col-lg-2 p-2 d-inline " style="background-color: rgb(255, 207, 150);"  >
          <p></p>
    {% block right %}

          <div class="text text-center">
            <h1>Services</h1>
        </div>
        
        <div class="border m-2 text-center">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a class="btn btn-outline-dark" href="{% url 'details' name='Birthday' %}">Birthday</a></li>
                <li class="list-group-item"><a class="btn btn-outline-dark" href="{% url 'details' name='Dj' %}">DJ</a></li>
                <li class="list-group-item"><a class="btn btn-outline-dark" href="{% url 'details' name='Babyshower' %}">Babyshower</a></li>
                <li class="list-group-item"><a class="btn btn-outline-dark" href="{% url 'details' name='Haldi' %}">Haldi</a></li>
                <li class="list-group-item"><a class="btn btn-outline-dark" href="{% url 'details' name='Wedding' %}">Wedding</a></li>
                <li class="list-group-item"><a class="btn btn-outline-dark" href="{% url 'details' name='Holi' %}">Holi</a></li>
                <li class="list-group-item"><a class="btn btn-outline-dark" href="{% url 'details' name='Festive' %}">Festive</a></li>
                <li class="list-group-item"><a class="btn btn-outline-dark" href="{% url 'details' name='Corporate' %}" >Corporate</a></li>
            </ul>
        </div>
          {% endblock right %} 

          
        </div>
      </div>
    </div>

    
    <div id="popupForm" class="form-popup" aria-labelledby="offcanvasDarkLabel" tabindex="-1" id="offcanvasDark">
      
      <form class="form-container" name='submit-to-google-sheet'>
         
          <button id="closeForm" class="close btn-close btn-close-dark" type="button"></button>
          <h2>Fill out the form</h2>
          <label for="name"><b>Name</b></label>
          <input type="text" placeholder="Enter your name" name="name" required>
          
        
          <label for="phone"><b>Phone Number</b></label>
          <input type="tel" id="phone" name="phone" required
       pattern="\d{10}" title="Please enter a 10-digit phone number"
       oninput="this.value = this.value.replace(/[^0-9]/g, '')"
       placeholder="Enter your Phone number">

          <label for="email"><b>Email</b></label>
          <input type="email" placeholder="Enter your email" name="email">
          
          <button type="submit" class="btn">Submit</button>
      </form>
      
    </div>

    <div id="popup" class="form-popup" aria-labelledby="offcanvasDarkLabel" tabindex="-1" id="offcanvasDark" style="display:none">
        <form class="form-container" name='submit-to-google-sheet'>
       
            <button id="close" class="close btn-close btn-close-dark" type="button"></button>
            <h2>Fill out the form</h2>
            <label for="name"><b>Name</b></label>
            <input type="text" placeholder="Enter your name" name="name" required>
            
            <label for="phone"><b>Phone Number</b></label>
            <input type="tel" id="phone" name="phone" required
       pattern="\d{10}" title="Please enter a 10-digit phone number"
       oninput="this.value = this.value.replace(/[^0-9]/g, '')"
       placeholder="Enter your Phone number">
            
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter your email" name="email">
            
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
    <br>
  <div class="text-center">
    <h1 class>Why Ravishing Events ?</h1>
  </div>
  </main>
  <footer class="p p-5 " style="background-color: rgb(246, 253, 195);">
    
    <div class="d-flex flex-wrap justify-content-between align-items-center border-top" >
      <p class="col-md-4 mb-0 text-muted">
        <img src="{% static "logo7.png" %}" alt="Bootstrap" width="130px" >
      </p>
  
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a>
  
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="https://www.instagram.com/ravishing__events?igsh=cXkxNGd5aXM0Zjdn" target="_blank" class="nav-link px-2 text-muted">Instagram</a></li>
        <li class="nav-item"><a href="https://wa.me/919511935519?text=Hello%20there!%20I%20would%20like%20to%20chat."  class="nav-link px-2 text-muted" target="_blank">Whatsapp</a></li>
       
        <li class="nav-item"><a href="{% url "about" %}" class="nav-link px-2 text-muted">About</a></li>
      </ul>   
    </div>
      
  </footer>
      
    
  <script src="{% static "script.js" %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>