{% extends "index.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static "css/services.css" %}">
{% endblock style %}

{% block main %}
<div class="text text-center">
  <h1>Services</h1>
</div>

<div class="row row-cols-md-2 justify-content-center m-3">
  <div class="col">
    <div class="card mb-3">
      
    
      <img src="{% static "wedding.jpg" %}" class="card-img-top" alt="..." >
      <div class="card-body">
        <h5 class="card-title">Wedding</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

        <a href="{% url 'details' name='Wedding' %}" class="btn btn-primary m-1">View Details</a>

      </div>
    
    </div>
  </div>
  <div class="col">
    <div class="card mb-3">
    
      <img src="{% static "haldi.jpg" %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Haldi & Mehndi</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

        <a href="{% url 'details' name='Haldi' %}" class="btn btn-primary m-1">View Details</a>

      </div>
    
    </div>
  </div>

  {% comment %} catering should be added {% endcomment %}
  <div class="col">
    <div class="card mb-3">
    
      <img src="{% static "Catering.jpg" %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Catering</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="{% url 'details' name='Catering' %}" class="btn btn-primary m-1">View Details</a>

      </div>
    
    </div>
  </div>

  <div class="col">
    <div class="card mb-3">
    
      <img src="{% static "Dj.jpg" %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">DJ & Sound</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="{% url 'details' name='Dj' %}" class="btn btn-primary m-1">View Details</a>

      </div>
    
    </div>
  </div>

  <div class="col">
    <div class="card mb-3">
        <img src="{% static "babyshower.jpeg" %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Babyshower</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a href="{% url 'details' name='Babyshower' %}" class="btn btn-primary m-1">View Details</a>
        </div>
    </div>
  </div>

  <div class="col">
    <div class="card mb-3">
  
      <img src="{% static "birthday.jpg" %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Birthday</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="{% url 'details' name='Birthday' %}" class="btn btn-primary m-1">View Details</a>
      </div>
    
    </div>
  </div>


 
 

  <div class="col">
    <div class="card mb-3">
  
      <img src="{% static "Holi.jpg" %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Festive</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="{% url 'details' name='Festive' %}" class="btn btn-primary m-1">View Details</a>
      </div>
    
    </div>
  </div>

  <div class="col">
    <div class="card mb-3">
  
      <img src="{% static "corporate.jpeg" %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Corporate</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="{% url 'details' name='Corporate' %}" class="btn btn-primary m-1">View Details</a>
      </div>
    
    </div>
  </div>

  </div>
</div>






{% endblock main %}

{% block right %}{% endblock right %}